body {
  width: 50%;
  position: absolute;
  top: 3%;
  left: 25%;
  margin: auto;
  background: url(115.jpg) no-repeat;
  background-position: initial;
  background-size: 100%;
  box-shadow: 0 0 20px 2px gray;
}
#Name {
  font-family: "CommercialScript BT";
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  font-size: 300%;
  text-align: center;
}
#mainblock {
  background: linear-gradient(to bottom, #62a1ac, #a1f8e5);
  background-position: initial;
  background-size: 100%;
  padding: 10px;
  margin-right: 20px;
  width: 100%;
}
.block1 {
  float: left;
  padding: 10px;
  margin-right: 20px;
  width: 50%;
}
.block2 {
  padding: 5px;
  float: left;
  margin-right: 20px;
  width: 30%;
}
.block4 {
  padding: 10px;
  margin-right: 20px;
  width: 50%;
}
.block3 {
  padding: 10px;
  margin-right: 20px;
  width: 100%;
}
.text {
  font-style: italic;
}
.block4 .text {
  font-style: normal;
  white-space: pre;
  line-height: inherit;
}
h3 {
  line-height: 10%;
}
